@font-face {
  font-family: helvetica;
  src: url("../fonts/helvetica.ttf") format("truetype");
}
@font-face {
  font-family: fira;
  src: url("../fonts/FiraMono-Regular.ttf");
}
@font-face {
  font-family: firabold;
  src: url("../fonts/FiraMono-Bold.ttf");
}
.mynav{
  font-family: fira;
}
.my-row {
  font-family: helvetica;
}
.hname,.hdegree,.hwork {
  font-size: 7vw;
  color: #ffff;
  background-color: #000;
}
.hname:hover {
  background-color: #009b77;
}
.hdegree:hover {
  background-color: transparent;
  color:#000;
}
.hwork:hover {
  background-color: #bb2cce;
  color: #000;
}
.fa-github:hover{
  color: #ffffff;
}
.fa-stack-overflow:hover{
  color: #fdfdfd;
}
.WID {
  font-family: fira;
}
/* Media query */
