@font-face {
  font-family: helvetica;
  src: url("../fonts/helvetica.ttf");
}
@font-face {
  font-family: fira;
  src: url("../fonts/FiraMono-Regular.ttf");
}
@font-face {
  font-family: firabold;
  src: url("../fonts/FiraMono-Bold.ttf");
}
.mynav{
  font-family: fira;
}
.my-row {
  font-family: helvetica;
}
.hname,.hdegree,.hwork {
  font-size: 7vw;
  color: #ffff;
  background-color: #000;
}
.hname:hover {
  background-color: #009b77;
}
.hdegree:hover {
  background-color: transparent;
  color:#000;
}
.hwork:hover {
  background-color: #bb2cce;
  color: #000;
}
.fa-github:hover{
  color: #ffffff;
}
.fa-stack-overflow:hover{
  color: #fdfdfd;
}
.WID {
  font-family: fira;
}
.aboutme {
  border-bottom: 4px dotted #ff2b2b;
}
.portfolio {
  border: 3px dashed #ff2b2b;
  font-size: 3rem;
  font-weight: bold;
}
/* Media query */
/* fixed icons in mobile veiw */
/* fixed navbar in mobile view */
